<style>
    a{
        margin: 10px;
        color: yellow;
    }
    a:hover{
        background-color: grey;
    }
</style>
<div style="background-color: black;">
    <a href="/nueva-foto">Añadir imagenes</a>
    <a href="/">Ver imagenes</a>
</div>