<style>
    a{
        margin: 10px;
        color: yellow;
    }
    a:hover{
        background-color: grey;
    }
</style>
<div style="background-color: black;">
    <a href="/nueva-foto" style="font-weight: <%= (path=='/nueva-foto')? 'bold': 'normal' %>">Añadir imagenes</a>
    <a href="/" style="font-weight: <%= (path=='/')? 'bold': 'normal' %>">Ver imagenes</a>
</div>